<footer class="footer pt-5 pb-4 mt-5">
  <div class="container text-md-left">
    <div class="row text-md-left">
      <!-- About -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold brand-footer">HomeTuition</h5>
        <p>Connecting students with world-class tutors since 2024. Quality education right at your doorstep or online.</p>
      </div>

      <!-- Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Resources</h6>
        <p><a routerLink="/tutors" class="footer-link">Find a Tutor</a></p>
        <p><a routerLink="/register" class="footer-link">Become a Tutor</a></p>
        <p><a href="#" class="footer-link">How it Works</a></p>
        <p><a href="#" class="footer-link">Pricing</a></p>
      </div>

      <!-- Cities -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Popular Cities</h6>
        <p><a href="#" class="footer-link">Ranchi</a></p>
        <p><a href="#" class="footer-link">Patna</a></p>
        <p><a href="#" class="footer-link">Bangalore</a></p>
        <p><a href="#" class="footer-link">Delhi</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p><mat-icon>home</mat-icon> Ranchi, Jharkhand, IN</p>
        <p><mat-icon>email</mat-icon> support@hometuition.com</p>
        <p><mat-icon>phone</mat-icon> +91 98765 43210</p>
      </div>
    </div>

    <hr class="mb-4">

    <!-- Bottom -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© {{ currentYear }} All rights reserved by:
          <a href="#" style="text-decoration: none;">
            <strong class="text-primary">HomeTuition Platform</strong>
          </a>
        </p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
